body {
    margin: 0;
    padding: 0;
    font-family: Georgia , sans-serif;
    font-size: 13px;
    line-height: 20.8px;
    font-weight: normal;
    color: #666666;

    background-color: #ffffffffffff;
    background-image: url("/img/worktable.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
.search{
    background-color: #ebebea;
}
.main-hiden {
    font-size: 22px;
    background-color: #ebebea;
    text-align: center;
}
.main-gallery {
    text-align: center;
}