body {
    margin: 0;
    padding: 0;
    font-family: Georgia , sans-serif;
    font-size: 13px;
    line-height: 20.8px;
    font-weight: normal;
    color: #666666;

    background-color: #ffffff;

}
a {
    text-decoration: none;
}

.under {
    color: white;
    background-color:#444444;
}
.logo {
    font-size: 26px;
    line-height: 26px;
    color: #666666;
}
.help-logo{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
}
    .site-navigation {
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
    }
    .site-navigation {
        list-style: none;
    }
 .site-navigation a {
color: #666666;
 }
 .site-navigation a:hover,
 .site-navigation a:focus {
     color: deeppink;
 }



.search{
    background-color: #ebebea;
}
.main-hiden {
    font-size: 22px;
    line-height: 33px;
    background-color: #ebebea;
    text-align: center;
}
.main-gallery {
    text-align: center;
}
figcaption {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}
.help-fig{
    font-size: 13px;
    line-height: 23.4px;
    text-align: left;
}

.choise section {
    text-align: left;
}
.choise a{
    font-size: 20px;
    line-height: 24px;
    color: #894aa3;
}
article {
    text-align: center;
}
h4 {
    font-size: 16px;
    line-height: 19.2px;
    color: #894aa3;
}
h5 {
    font-size: 13px;
    line-height: 15.6px;
    text-transform: uppercase;
}
.contacts {
    text-align: left;
}

.contacts li {
    font-size: 12px;
    line-height: 24px;
}
.fax {
    font-size: 12;
    line-height: 19.2;
}

.mail {
    color: #666666;
}
.links li {
    font-size: 12px;
    line-height: 14.4px;
}
h6 {
    font-size: 13px;
    line-height: 15.6px;
    font-weight: bold;
    text-transform: capitalize;
}
.photo {
    background-color: #ebebea;
}
.main-navigation{
    display: flex;
    margin-bottom: 55px;
    justify-content: flex-start;
    align-items:flex-start;
}
.site-navigation {
    margin: 0;
    padding: 0;
}
.visually-hiden {
    display: none;
}
.logo1 {
    width:270px ;
min-width: 270px;
}