body {
    margin: 0;
    padding: 0;
    font-family: Georgia , sans-serif;
    font-size: 13px;
    line-height: 20.8px;
    font-weight: normal;
    color: #666666;

    background-color: #ffffff;

}
a {
    text-decoration: none;
}
.logo {
    list-style: none;
    font-size: 26px;
    line-height: 26px;
    color: #666666;
}
.help-logo{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
}
    .main-navigation {
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
    }
    .site-navigation {
        list-style: none;
    }
 .site-navigation a {
color: #666666;
 }
 .site-navigation a:hover,
 .site-navigation a:focus {
     color: deeppink;
 }



.search{
    background-color: #ebebea;
}
.main-hiden {
    font-size: 22px;
    line-height: 33px;
    background-color: #ebebea;
    text-align: center;
}
.main-gallery {
    text-align: center;
}